# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment and OS metadata
.env
.DS_Store

# Model artifacts
model/*.pkl


# Streamlit configuration
.streamlit/

# Test artifacts
.pytest_cache/
